.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: max-content;
}

.error__title {
  font-size: 140px;
  line-height: 169px;
  margin: 0;
}

.error__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  margin: 0;
}

.error__link {
  color: #5693e1;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  margin-top: 10px;
}

.error__link:hover {
  opacity: 0.8;
}
